/* RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
}

/* UTILS */

/* .container {
  max-width: 1080px;
  padding: 0;
}

body {
} */
main {
  background-color: #083b4c;
  text-align: center;
}

main h1 {
  padding: 30px;
  font-size: 100px;
  color: white;
}

#card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

h3 {
  text-align: center;
  line-height: 130px;
}

.card {
  border-radius: 0;
  width: 130px;
  aspect-ratio: 1;
}
